// color by name
$blue-bayoux: rgb(73,105,112);
$moss-green: rgb(162,213,171);
$keppel: darken(rgb(57,174,169), 10%);
$white: rgb(255,255,255);
$don-juan: rgb(91,81,81);

// color by location
$c-nav-button-background: $moss-green;
$c-phone: $blue-bayoux;
$c-title: $keppel;
$c-text: $don-juan;
$c-nav-button-text: $white;
$c-nav-button-text-hover: $blue-bayoux;
$c-submit: $keppel;
$c-submit-hover: $blue-bayoux;
$c-form-text: $blue-bayoux;
